.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.top {
    width: 400px;
    height: 100px;
    background-color: #141f40;
    color: white;
}

.center-left {
    float: left;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    color: white;
}

.center-right {
    float: left;
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    color: white;
}

.bottom {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
    color: white;
}